<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <h5>
        <%= link_to "Followings" ,followings_user_path(@user) %>
        <%= @user.following_users.count %>
      </h5>
      <h5>
        <%= link_to "Followers" ,followers_user_path(@user) %>
        <%= @user.follower_users.count %>
      </h5>
    </section>
  </aside>
  
  <div class="col-md-8">
    <h3>Favorite posts</h3>
    <% if @favorites.any? %>
      <% @favorites.order('id desc').each do |favorite| %>
        <%= render partial: 'favorites/favorite', locals: {favorite: favorite} %>
      <% end %>
    <% end %>
    <%= paginate @favorites %>
  </div>
</div>
