<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span> 
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  
    <% if Retweet.find_by(micropost_id: micropost.id) %> 
      <% checkmicropost = Retweet.find_by(micropost_id: micropost.id) %>
      <% if Micropost.find_by(id: checkmicropost.before_id) %>
        <% beforepost = Retweet.find_by(micropost_id: micropost.id) %>
        <% micropsotbefore = Micropost.find_by(id: beforepost.before_id) %>
        <%= link_to micropsotbefore.user.name,micropsotbefore.user %>
      <% else %>
        deleted post.
      <% end %>
    <% end %>
      
    <% if current_user == micropost.user %>
      <% if current_user.retweets.find_by(micropost_id: micropost.id) %>
        <%= link_to micropost_retweets_path(micropost), method: :delete do%>
          <i class="glyphicon glyphicon-retweet unlink_color" , aria-hidden="true" ></i>
        <% end %>
      <% else %>
        <%= link_to micropost, method: :delete, data: { confirm: "You sure?" } do %>
          <i class="glyphicon glyphicon-trash link_color" , aria-hidden="true" ></i>
        <% end %>
      <% end %>
    <% else %>
      <span class="link_underline">
        <%= render 'users/favorite_form', micropost: micropost %>
        <%# if current_user.favorites.find_by(micropost_id: micropost.id) %>
          <%#= link_to micropost_favorites_path(micropost), method: :delete do %>
            <%# i class="glyphicon glyphicon-heart unlink_color" aria-hidden="true" ></i>
          <#% end %>
        <%# else %>
          <%#= link_to micropost_favorites_path(micropost), method: :post do %>
            <%#i class="glyphicon glyphicon-heart link_color" aria-hidden="true" ></i>
          <# end %>
        <%# end %>
      </span>
      <% if current_user.retweets.find_by(before_id: micropost.id) %>
        <% retweetsdelete = Retweet.find_by(before_id: micropost.id) %>
        <%= link_to micropost_retweets_path(retweetsdelete.micropost_id), method: :delete do%>
          <i class="glyphicon glyphicon-retweet unlink_color" , aria-hidden="true" ></i>
        <% end %>
      <% else %>
        <%= link_to micropost_retweets_path(micropost), method: :post do %>
          <i class="glyphicon glyphicon-retweet link_color" , aria-hidden="true" ></i>
        <% end %>
      <% end %>  
    <% end %>
  </span>
  
  <% unless micropost.avatar.blank? %>
    <span class="image"><%= image_tag micropost.avatar_url %></span>
  <% end %>
　<%#= image_tag micropost.avatar.url if micropost.avatar? %>

</li>